*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #fff;
}
#right{
    height: 100%;
    width: 50%;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1559692048-79a3f837883d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80);
    background-size: cover;
    background-position: center;
}
#left{
    position: relative;
    height: 100%;
    width: 50%;
    background-color:#dadada;
}
#img1{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%,-50%);
    height: 50%;
    width: 50%;
}
#kuchh{
    height: 70px;
    width: 50%;
    position: absolute;
    background-color: transparent   ;
}
#kya{
    position: absolute;
    top: 45%;
    left: 60px;
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    font-family: gilroy;
    font-weight: 600;
    letter-spacing: 1px;
}
#momos{
    position: absolute;
    top: 75%;
    left: 37%;
    background-color: transparent;
    color: #fff;
    font-size: 50px;
    
}
#idli{
    position: absolute;
    top: 75%;
    left: 23%;
    background-color: transparent;
    color: #fff;
    font-size: 50px;
}
.ri-menu-line{
    position: absolute;
    top: 45%;
    left: 85%;
    font-weight: 600;
    font-size: 20px;
}


